<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{app.appName | uppercase}}</span>
    <span class="example-spacer"></span>

    <a routerLink="/cart" routerLinkActive="active">
      <i [ngClass]="{basket:productListInCart.length!=0}" fa [name]="'shopping-bag'" [size]="2" [pull]="'left'"></i>
      <span class="item-count" [hidden]="productListInCart.length==0">
        {{productListInCart.length}}
      </span>
    </a>

    <ng-container *ngIf="(currentUser.isLogin); else guest">
      <i fa [name]="'user-circle'"></i> &nbsp;
      <h5>{{currentUser.firstName}}</h5> &nbsp;
      <button mat-raised-button color="primary" (click)="dal.logout()">Logout</button>
    </ng-container>
    <ng-template #guest>
      <button mat-raised-button color="primary" (click)="openDialog()">Login</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>