<div class="top">

</div>
<div class="item-list">
    <ng-container *ngIf="productListInCart.length==0;else itemsPresentInCart">
        <div>
            <a routerLink="/Home">Continue Shopping</a> with US to add items in your cart.
        </div>
    </ng-container>
    <ng-template #itemsPresentInCart>
        <div *ngFor="let item of productListInCart" class="item">
            <div>{{item.productName}}
            </div>
            <div>{{item.productCount}}
            </div>
            <div>{{item.price * item.productCount}}
            </div>
        </div>
        <a routerLink="/Home">Continue Shopping</a>
        <a routerLink="/checkout">Checkout</a>
    </ng-template>
</div>
<!-- productDesc rating -->