$primaryColor: dodgerblue;
$activeTextColoWithBG: #ffffff;

.product {
    .prod_image {
        width: 90%;
        margin: 10px 5% 0 5%;
        border: 1px solid $primaryColor;
        border-bottom: none;
        border-radius: 5%;

        img {
            width: inherit;
            height: auto;
            cursor: pointer;
        }
    }

    .add_to_cart {
        border: 2px solid $primaryColor;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        cursor: pointer;
        background: $primaryColor;
        color: #ffffff;
    }

    .cart_actions {
        display: flex;
        width: 100%;

        .left {
            width: 70%;
            text-align: center;
            color: black;
        }

        .right {
            width: 30%;

            button {
                color: #f26262;
            }

            button:hover {
                color: red;
            }
        }
    }
}
