<div class="prod_image">
    <img src="./../../../assets/img/no-img.png" (click)="viewDetailedProduct()">
</div>
<div class="product-info">
    <h5>{{product.productName}}</h5>
    <h6>Rs.{{product.price}}</h6>
</div>

<ng-container *ngIf="itemCountInCart==0;else plusMinusBtn">
    <div class="add_to_cart" (click)="addToCart()">
        Add to Cart
    </div>
</ng-container>
<ng-template #plusMinusBtn>
    <div class="cart_actions">
        <div class="left" (click)="addToCart()">
            Add
        </div>
        <div class="center">
            Count:{{itemCountInCart}}
        </div>
        <div class="right" (click)="removeFromCart()">
            Remove
        </div>
    </div>
</ng-template>

<!-- <div class="product-image">
        <img src="assets/img/noimage.png">
      </div>
      <div class="product-info">
        <h5>Winter Jacket</h5>
        <h6>$99.99</h6>
      </div> -->